# Hands-on Activity 6.1 Introduction to Data Analysis and Tools

Name: Abon, Benedict Aldous A.<br>
Section: CPE22S3<br>
Performed on: 02/12/2026<br>
Submitted on: 02/12/2026<br>
Submitted to: Engr. Neil Barton James Matira<br>

## Exercise 1

Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules.

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

Using the data generated above, calculate the following statistics without importing anything from the statistics module in the
standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are
obtained when using the statistics module (where possible):<br>
- Mean
- Median
- Mode (hint: check out the Counter in the collections module of the standard library at
https://docs.python.org/3/library/collections.html#collections.Counter)
- Sample variance
- Sample standard deviation

In [2]:
salaries

[844000.0,
 758000.0,
 421000.0,
 259000.0,
 511000.0,
 405000.0,
 784000.0,
 303000.0,
 477000.0,
 583000.0,
 908000.0,
 505000.0,
 282000.0,
 756000.0,
 618000.0,
 251000.0,
 910000.0,
 983000.0,
 810000.0,
 902000.0,
 310000.0,
 730000.0,
 899000.0,
 684000.0,
 472000.0,
 101000.0,
 434000.0,
 611000.0,
 913000.0,
 967000.0,
 477000.0,
 865000.0,
 260000.0,
 805000.0,
 549000.0,
 14000.0,
 720000.0,
 399000.0,
 825000.0,
 668000.0,
 1000.0,
 494000.0,
 868000.0,
 244000.0,
 325000.0,
 870000.0,
 191000.0,
 568000.0,
 239000.0,
 968000.0,
 803000.0,
 448000.0,
 80000.0,
 320000.0,
 508000.0,
 933000.0,
 109000.0,
 551000.0,
 707000.0,
 547000.0,
 814000.0,
 540000.0,
 964000.0,
 603000.0,
 588000.0,
 445000.0,
 596000.0,
 385000.0,
 576000.0,
 290000.0,
 189000.0,
 187000.0,
 613000.0,
 657000.0,
 477000.0,
 90000.0,
 758000.0,
 877000.0,
 923000.0,
 842000.0,
 898000.0,
 923000.0,
 541000.0,
 391000.0,
 705000.0,
 276000.0,
 812000.0,
 849000.0,
 895000.0,
 590000.0,
 950000.0,
 580000.0,
 451000.0,
 660000.0,
 996000.0,
 917000.0,
 793000.0,
 82000.0,
 613000.0,
 486000.0]

In [4]:
# Mean
salaries_mean = sum(salaries) / len(salaries)
print(f'Mean Salary: {salaries_mean}')

Mean Salary: 585690.0

In [6]:
# Median
salaries_median = salaries[len(salaries)//2]
print(f'Median Salary: {salaries_median}')

Median Salary: 803000.0

In [117]:
# Mode
salaries_mode = max(salaries, key=lambda x: salaries.count(x))
salaries_mode

477000.0

In [55]:
# Sample variance
average = salaries_mean
len_minus_one = len(salaries)-1

x_mean_squared = []
for salary in salaries:
  temp = (salary - average)**2
  x_mean_squared.append(temp)

summation = sum(x_mean_squared)
salaries_variance = summation/len_minus_one

print(f'Salaries Sample Variance: {salaries_variance:.2f}')

Salaries Sample Variance: 70664054444.44

In [56]:
# Sample standard deviation
salaries_std = salaries_variance ** 0.5

print(f'Salaries Standard Deviation: {salaries_std:.2f}')

Salaries Standard Deviation: 265827.11

# Exercise 2

Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:<br>
- Range
- Coefficient of variation
- Interquartile range
- Quartile coefficient of dispersion

In [59]:
# Range
salaries_range = max(salaries) - min(salaries)
print(f'Salaries Range: {salaries_range}')

Salaries Range: 995000.0

In [60]:
# Coefficient of variation
salaries_cov = salaries_std / salaries_mean
print(f'Salaries Coefficient of Variation: {salaries_cov}')

Salaries Coefficient of Variation: 0.45386998894439035

In [66]:
# Interquartile range
salaries.sort()
q1 = .25 * (len(salaries)+1)
q3 = .75 * (len(salaries)+1)
salaries_iqr = q3 - q1

print(f'Salaries Interquartile Range: {salaries_iqr}')

Salaries Interquartile Range: 50.5

In [67]:
# Quartile coefficient of dispersion
salaries_qcd = (q3-q1)/(q3+q1)

print(f'Salaries Quartile Coefficient of Dispersion: {salaries_qcd}')

Salaries Quartile Coefficient of Dispersion: 0.5

# Exercise 3: Pandas for Data Analysis

Load the diabetes.csv file. Convert the diabetes.csv into dataframe

In [68]:
import pandas as pd

In [69]:
diabetes = pd.read_csv('diabetes.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Perform the following tasks in the diabetes dataframe:

1. Identify the column names
2. Identify the data types of the data
3. Display the total number of records
4. Display the first 20 records
5. Display the last 20 records
6. Change the Outcome column to Diagnosis
7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
8. Create a new dataframe "withDiabetes" that gathers data with diabetes
9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
11. Create a new dataframe "Adult" that gathers data with age greater than 19
12. Use numpy to get the average age and glucose value.
13. Use numpy to get the median age and glucose value.
14. Use numpy to get the middle values of glucose and age.
15. Use numpy to get the standard deviation of the skinthickness.

In [73]:
# 1. Identify the column names
diabetes.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [75]:
# 2. Identify the data types of the data
diabetes.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [77]:
# 3. Display the total number of records
len(diabetes)

768

In [79]:
# 4. Display the first 20 records
diabetes.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [80]:
# 5. Display the last 20 records
diabetes.tail(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [98]:
# 6. Change the Outcome column to Diagnosis
diabetes = diabetes.rename(columns={'Outcome':'Diagnosis'})
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,No Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,No Diabetes

In [107]:
# 7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
diabetes['Classification'] = diabetes['Diagnosis'].apply(lambda x: 'Diabetes' if x == 1 else 'No Diabetes')

diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes

In [120]:
# 8. Create a new dataframe "withDiabetes" that gathers data with diabetes
withDiabetes = diabetes[diabetes['Classification'] == 'Diabetes']
withDiabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes
6,3,78,50,32,88,31.0,0.248,26,1,Diabetes
8,2,197,70,45,543,30.5,0.158,53,1,Diabetes

In [122]:
# 9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
noDiabetes = diabetes[diabetes['Classification'] == 'No Diabetes']
noDiabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
5,5,116,74,0,0,25.6,0.201,30,0,No Diabetes
7,10,115,0,0,0,35.3,0.134,29,0,No Diabetes
10,4,110,92,0,0,37.6,0.191,30,0,No Diabetes

In [125]:
# 10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
Pedia = diabetes[diabetes['Age'] <= 19]
Pedia.head()

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Diagnosis, Classification]
Index: []

In [126]:
# 11. Create a new dataframe "Adult" that gathers data with age greater than 19
Adult = diabetes[diabetes['Age'] > 19]
Adult.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Diagnosis,Classification
0,6,148,72,35,0,33.6,0.627,50,1,Diabetes
1,1,85,66,29,0,26.6,0.351,31,0,No Diabetes
2,8,183,64,0,0,23.3,0.672,32,1,Diabetes
3,1,89,66,23,94,28.1,0.167,21,0,No Diabetes
4,0,137,40,35,168,43.1,2.288,33,1,Diabetes

In [135]:
# 12. Use numpy to get the average age and glucose value.
import numpy as np

avg_age = diabetes['Age'].mean()
avg_glucose = diabetes['Glucose'].mean()

print(f'Average age: {avg_age}\nAverage glucose: {avg_glucose}')

Average age: 33.240885416666664
Average glucose: 120.89453125

In [138]:
# 13. Use numpy to get the median age and glucose value.
diabetes.sort_values(by='Age')

median_age = diabetes['Age'].median()
median_glucose = diabetes['Glucose'].median()

print(f'Median age: {median_age}\nMedian glucose: {median_glucose}')

Median age: 29.0
Median glucose: 117.0

In [139]:
# 14. Use numpy to get the middle values of glucose and age.
median_age = diabetes['Age'].median()
median_glucose = diabetes['Glucose'].median()

print(f'Middle age: {median_age}\nMiddle glucose: {median_glucose}')

Middle age: 29.0
Middle glucose: 117.0

In [141]:
# 15. Use numpy to get the standard deviation of the skinthickness.
std_skin = diabetes['SkinThickness'].std()
print(f'Skin Thickness STD: {median_glucose}')

Skin Thickness STD: 117.0

# Conclusion
The activity demonstrates the use of pandas and numpy in data analysis and exploration. I was able to familiarize myself with the steps involved in data analysis and syntaxes associated with them. In the first and second exercise, I used raw Python code in finding the means of central tendency of the given dataset, testing my Python knowledge and logical skills. In the third exercise, I used pandas to analyze the following dataset. I was able to explore its data, alter the column names, and created sub DataFrames from the original DataFrame. I also used numpy syntaxes to find the means of central tendency of the DataFrame.