### Abon, Benedict Aldous A.
CPE311-CPE22S3

In [1]:
import pandas as pd

1. Create DataFrame; Examine the first 5 rows

In [33]:
data = pd.read_csv('/2019_Yellow_Taxi_Trip_Data.csv')
data.head(5)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

2. Find the dimensions (number of rows and number of columns) in the data.

In [34]:
data.shape

(10000, 18)

3. Calculate summary statistics for the fare_amount, tip_amount, tolls_amount, and total_amount columns.

In [27]:
# fare amount stats
fa_mean = data['fare_amount'].mean()
fa_median = data['fare_amount'].median()
fa_mode = data['fare_amount'].mode()
fa_std = data['fare_amount'].std()
# print stats
print(f'Fare amount mean: {fa_mean}')
print(f'Fare amount median: {fa_median}')
print(f'Fare amount mode: {fa_mode[0]}')
print(f'Fare amount standard deviation: {fa_std}')

Fare amount mean: 15.106313
Fare amount median: 10.0
Fare amount mode: 52.0
Fare amount standard deviation: 13.954761757679899

In [28]:
# tip_amount stats
ta_mean = data['tip_amount'].mean()
ta_median = data['tip_amount'].median()
ta_mode = data['tip_amount'].mode()
ta_std = data['tip_amount'].std()
# print stats
print(f'Tip amount mean:{ta_mean}')
print(f'Tip amount median: {ta_median}')
print(f'Tip amount mode: {ta_mode[0]}')
print(f'Tip amount standard deviation: {ta_std}')

Tip amount:2.6344939999999997
Tip amount median: 2.0
Tip amount mode: 0.0
Tip amount standard deviation: 3.409800031906561

In [30]:
# tolls_amount stats
taa_mean = data['tolls_amount'].mean()
taa_median = data['tolls_amount'].median()
taa_mode = data['tolls_amount'].mode()
taa_std = data['tolls_amount'].std()
# print stats
print(f'Tolls amount mean: {taa_mean}')
print(f'Tolls amount median: {taa_median}')
print(f'Tolls amount mode: {taa_mode[0]}')
print(f'Tolls amount standard deviation: {taa_std}')

Tolls amount: 0.623447
Tolls amount median: 0.0
Tolls amount: 0.0
Tolls amount standard deviation: 6.437507127609063

In [31]:
# total_amount stats
taat_mean = data['total_amount'].mean()
taat_median = data['total_amount'].median()
taat_mode = data['total_amount'].mode()
taat_std = data['total_amount'].std()
# print stats
print(f'Total amount mean: {taat_mean}')
print(f'Total amount median: {taat_median}')
print(f'Total amount mode: {taat_mode[0]}')
print(f'Total amount standard deviation: {taat_std}')

Total amount mean: 22.564659
Total amount median: 16.3
Total amount mode: 11.8
Total amount standard deviation: 19.209255488783793

4. Isolate the fare_amount, tip_amount, tolls_amount, and total_amount for the longest trip by distance (trip_distance).

In [36]:
data.sort_values(by='trip_distance', ascending=False).head(1)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
8338,2,2019-10-23T16:50:53.000,2019-10-24T15:32:55.000,1,38.11,5,N,132,265,1,176.0,0.0,0.5,18.29,6.12,0.3,201.21,0.0